*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #5e5c5c;
}
#center{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
    height: 70%;
    /* background-color: red; */
}
.imagecontainer{
    overflow: hidden;
    position: absolute;
    width: 0%;
    height: 100%;
    /* background-color: yellow; */
}
img{
    height: 100%; 

} 
/* #one{
    width: 100%;
} */

.text{
    position: absolute;
    bottom: 15%;
    left: -20%;
    overflow: hidden;
    width: 400px;
    height: 100px;
    z-index: 9;
}
.text h1{
    font-size: 6vw;
    color: rgb(212, 141, 240);
    mix-blend-mode: difference;
    position: absolute;
    top:-100px;
}


